{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for product in products %}
    <div class="product">
        <br>
        {{product.title}}
        کد محصول: {{product.upc}}<br>
        {{product.description}}<br>
        {{product.product_type}}<br>
        برند: {{product.brand}}<br>
        {% if product.is_active == True %}
            موجود
            {% else %}
            ناموجود
        {% endif %}<br>
        دسته بندی: {{product.category}}<br>
    </div>
    {% endfor %}
</body>
</html>